
* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background-color: black;

  color: white;

}



header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  padding-right: 10px;


}
.menu-item {
  margin: 30px;

}

.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  align-items: center;
  justify-content: center;
  margin: 0px auto;

}
.mission-text,
.shop-text {
  text-align: center;
  width: 100%;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0px auto;

}
.shop-item-container  {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  bac
}
.shop-item img {
  height: 200px;
  width: 300px;

}
.locations  {
  display: flex;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;

}
.locations h1 {
  background-color: transparent;
  margin: 0px;
}

.location-item-container  {
 display: flex;
  margin: 0px;
  text-align: center;
  background-color: transparent;


}
.location-item {
  width: 300px;
  margin: 15px 20px 0px 20px;
}

.contact {
  height: 200px;
  text-align: center;

}
