
* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: white;
  border: 1px solid white;
}



header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  padding-right: 10px;
  padding-left: 20px;

}
.menu-item {
  margin: 30px;

}
.mission {
  display: flex;

  height: 700px;
  width: 1200px;
  background-image: url("resources/images/img-mission-background.jpg");

}
.shop {
  display: flex;
  flex-direction: column;

}
.shop-item-container  {
  display: inline-flex;
  flex-wrap: wrap;
}
.shop-item img {
  height: 200px;
  width: 300px;

}

.location-item-container  {
  display: flex;
  justify-content: space-around;
}
